@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --body-bg: #2b2b2e;
  --btn-bg: #2b2b2e;
  --btn-bg-focus: #7c53c7;
  --btn-border: #BCBCBC;
  --title: #FFFFFF;
  --input-bg: #F8F8F8;
  --text-color: #FFFFFF;
}

body {
  margin: 0;
  font-family: 'roboto', sans-serif;
}

.wrapper {
  max-width: 500px;
}



.title {
  display: flex;
  width: 100%;
  height: 90px;
  background-color: var(--body-bg);
  color: var(--title);
  align-items: center;
  margin-bottom: 20px;
}

.title h1 {
  margin-left: 20px;
}

.content {
  margin: 0 20px;
}



.btn {
  background-color: var(--btn-bg);
  border-radius: 10px;
  border: 0;
  height: 60px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  width: 200px;
}

.btn:focus {
  background-color: var(--btn-bg-focus);
}

/* GM PAGE */

.player-selector-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.time-limit {
  display: flex;
  align-items: center;
}

.time-limit p {
  font-size: 1.5em;
  margin-left: auto;
}

.time-limit * {
  margin-top: 0;
}

.vote-options {
  display: flex;
  flex-direction: column;
}



/* Voting Modal */
.voting-modal-title {
  display: flex;
}

.voting-modal-title span {
  margin-left: auto;
  border: 3px solid white;
  margin-right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

/* Range Slider */

.range-slider {
  width: 100%;
}

.range-slider-title {
  display: flex;
  width: 100%;
  align-items: center;
}

.range-slider-title p {
  margin-left: auto;
  font-size: 1.5em;
}

.range-labels {
  display: flex;
  margin-top: -10px;
  opacity: 0.7;
}

.right-label {
  margin-left: auto;
}

.slider::-webkit-slider-thumb {
  background: red;
}

/* RESULTS PAGE */

.result-bar-container {

}

.result-bar-labels {
  display: flex;
}

.result-bar-target {
  margin-left: auto;
}

.result-bar {
  display: flex;
  width: 100%;
  color: var(--text-color);
  border: 1px solid transparent;
  border-radius: 5px;
}

.initiator-bar {
  width: 50%;
  background-color: var(--body-bg);
  transition: 0.5s ease-in-out;
}

.target-bar {
  width: 50%;
  background-color: var(--btn-bg-focus);
  transition: 0.5s ease-in-out;
}



/* TEXT INPUT */
.text-input {
  background-color: var(--input-bg);
  border: 1px solid var(--btn-border);
  border-radius: 10px;
  height: 48px;
  margin-bottom: 20px;
  padding-left: 15px;
}

.text-input::placeholder {
  font-style: italic;

}

/* BUTTON BAR */
.button-bar {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.button-bar:first-child {
  border-radius: 5px 10px 15px 20px;
}

.button-bar button:last-child {
  border-radius: 0 12px 12px 0;
}

.button-bar button:first-child {
  border-radius: 12px 0 0 12px;
}

.button-bar button {
  border: 1px solid var(--btn-border);
  width: 100%;
  border-radius: 0;
}

/* MULTICHOICE BOX */
.big-radio-button {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.big-radio-button input {
  margin-left: auto;
  padding-right: 20px;
  background-color: #000000;
}

.vs {
  text-align: center;
}

input[type='radio']:before {
  width: 12px;
  height: 12px;
  border-radius: 15px;
  top: 0px;
  left: 0px;
  position: relative;
  background-color: var(--body-bg);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 4px;
  height: 4px;
  border-radius: 15px;
  top: -19px;
  left: 4px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}


/* RANGE SLIDER STYPES */
/* https://www.cssportal.com/style-input-range/ */

input[type=range] {
  height: 31px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #E9E9F2;
  border-radius: 5px;
  border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 48px;
  background: #724BBB;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E9E9F2;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #E9E9F2;
  border-radius: 5px;
  border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 48px;
  background: #724BBB;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #E9E9F2;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #E9E9F2;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 48px;
  background: #724BBB;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #E9E9F2;
}

input[type=range]:focus::-ms-fill-upper {
  background: #E9E9F2;
}